.executors-list-item {
  @apply w-full flex items-center relative;
  padding: 20px 25px;
  border-radius: 12px;
  background: $bg-black-block;
  color: $white;
  border: 1px solid $border-block;
  height: 161px;
  &__inner {
    @apply flex w-full h-full;
    gap: 20px;
  }
  &__profile {
    @apply flex flex-col;
    min-height: 110px;
    min-width: 85px;
    &-avatar {
      @apply self-start;
      width: 80px;
      height: 80px;
      flex-shrink: 0;
      margin-bottom: 13px;
      border-radius: $border-radius-rounded;
    }
    &-name {
      font-size: 14px;
      line-height: 14px;
      font-weight: 500;
    }
    &-link {
      @apply flex items-center;
      gap: 5px;
      font-weight: 500;
      font-size: 10px;
      line-height: 10px;
      &-icon {
        height: 18px;
        flex-shrink: 0;
      }
    }
  }
  &__main {
    @apply w-full flex flex-col h-full;
  }
  &__name {
    @apply flex items-end;
    gap: $space-small;
    margin-bottom: 13px;
    font-weight: 600;
    font-size: 15px;
    line-height: 16px;
    &-verified {
      width: 21px;
      height: 18px;
    }
  }
  &__technologies {
    @apply flex;
    gap: 8px;
    font-weight: 600;
    font-size: 12px;
    margin-bottom: 12px;
    &-item {
      font-weight: 500;
    }
  }
  &__region {
    @apply flex items-center truncate;
    gap: $space-x-small;
    margin-bottom: 17px;
    font-size: 12px;
    &-img {
      width: 14px;
      height: 14px;
      flex-shrink: 0;
    }
  }
  &__description {
    @apply overflow-hidden;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
  }
  &__top {
    @apply flex justify-between;
    &-left {
      @apply flex items-baseline;
      max-width: 228px;
      gap: 13px;
    }
  }
  &__price {
    @include gradient-text($base-font, 15px, 600, 22px);
  }
  &__rating {
    @apply flex items-baseline;
    font-weight: 700;
    font-size: 16px;
    gap: 5px;
    &-star {
      height: 16px;
      flex-shrink: 0;
    }
  }
  &__executor-link {
    @apply absolute;
    bottom: 20px;
    right: 25px;
  }
}