.form {
  @apply flex flex-col;
  gap: pxToRem(30);
  color: rgba($color: #fff, $alpha: 0.9);
  font-family: $base-font;
  &-field {
    @apply flex flex-col relative;
    gap: pxToRem(15);
    font-weight: 400;
    &__input {
      @apply relative w-full h-full flex;
      &-switcher {
        @apply absolute cursor-pointer;
        top: 50%;
        transform: translate(0, -50%);
        right: pxToRem(24.68);
        width: pxToRem(19.35);
        height: pxToRem(16.258);
      }
    }
    &__password-input {
      padding: pxToRem(0) pxToRem(65) pxToRem(0) pxToRem(25) !important;
    }
    &__label {
      color: rgba($color: #fff, $alpha: 0.9);
      line-height: 100%;
      text-shadow: pxToRem(5) pxToRem(5) pxToRem(5) rgba(0, 0, 0, 0.25);
      transition: color 0.2s ease-in-out;
      font-size: pxToRem(16);
      @media screen and ($media-md-query) {
        font-size: pxToRem(14);
      }
      &_error {
        color: $light-red !important;
      }
    }
    &__limit {
      @apply absolute;
      bottom: pxToRem(13);
      right: pxToRem(25);
      font-size: pxToRem(18);
      color: $border-block;
    }
  }
  &-input {
    @apply w-full relative;
    padding: pxToRem(0) pxToRem(25);
    height: pxToRem(55);
    // background:
    //   linear-gradient($bg-inputs, $bg-inputs) padding-box,
    //   $border-block border-box;
    background: transparent;
    font-size: pxToRem(16);
    border: pxToRem(1) solid $border-block;
    border-radius: $border-radius-m;
    @media screen and ($media-md-query) {
      font-size: pxToRem(14);
      height: pxToRem(44);
      border-radius: pxToRem(12);
    }
    &:focus {
      background:
        linear-gradient($bg-inputs, $bg-inputs) padding-box,
        $gradient-skyblue-blue border-box;
    }
    &_error {
      transition: pxToRem(0.2) ease-in-out;
      border: 1px solid $light-red;
    }
    &::-webkit-calendar-picker-indicator {
      width: pxToRem(14);
      height: pxToRem(16);
      background: url('assets/icons/Input/calendar.svg') no-repeat center center;
      color: #00000000;
    }
  }
}
