.form {
  @apply flex flex-col;
  gap: 30px;
  color: $white;
  font-family: $base-font;
  &-field {
    @apply flex flex-col relative;
    gap: 15px;
    font-weight: 400;
    &__input {
      @apply relative w-full h-full flex;
      &-switcher {
        @apply absolute cursor-pointer;
        top: 50%;
        transform: translate(0, -50%);
        right: 24.68px;
        width: 19.35px;
        height: 16.258px;
      }
    }
    &__password-input {
      padding: 0 65px 0 25px !important;
    }
    &__label {
      color: $white;
      line-height: 100%;
      text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
      transition: color 0.2s ease-in-out;
      &_error {
        color: $light-red !important;
      }
    }
    &__limit {
      @apply absolute;
      bottom: 13px;
      right: 25px;
      font-size: 18px;
      color: $border-block;
    }
  }
  &-input {
    @apply w-full relative;
    padding: 0 25px;
    height: 55px;
    background:
            linear-gradient($bg-inputs, $bg-inputs) padding-box,
            $border-block border-box;
    border: 1px solid transparent;
    border-radius: $border-radius-m;
    &:focus {
      background:
              linear-gradient($bg-inputs, $bg-inputs) padding-box,
              $gradient-skyblue-blue border-box;
    }
    &_error {
      transition: 0.2s ease-in-out;
      background:
              linear-gradient($bg-inputs, $bg-inputs) padding-box,
              $light-red border-box;
    }
    &::-webkit-calendar-picker-indicator {
      width: 14px;
      height: 16px;
      background: url("assets/icons/Input/calendar.svg") no-repeat center center;
      color: #00000000;
    }
  }
}