.filter-radio-accordion {
  &__button {
    @apply p-0;
    background: transparent !important;
    gap: 10px;
    color: $white !important;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 25px;
    &_error {
      color: $light-red !important;
    }
  }

  &__arrow {
    @apply transition-transform;
    height: 6px;
  }

  &__input-container {
    @apply p-0 flex flex-col items-end relative;
    color: $white !important;
  }

  &__label {
    font-size: 16px;
    letter-spacing: 0.64px;
    font-weight: 400;
    cursor: pointer;
    &:hover {
      transition: 0.2s;
      color: $gray;
    }

    &_active {
      @include gradient-text($base-font, 16px, 600);
    }
  }

  &__input {
    display: none;
  }
}
.filter-checkbox-accordion {
  @apply flex w-full flex-col overflow-y-scroll;
  max-height: 220px;
  direction: rtl;
  padding-left: 15px;
  &::-webkit-scrollbar {
    width: 3px;
  }
  &::-webkit-scrollbar-track {
    background: $gray-30;
  }
  &::-webkit-scrollbar-thumb {
    background: $white;
    border-radius: 3px;
  }

  &__button {
    @apply p-0 w-full grid items-center;
    grid-template-columns: auto auto;
    text-align: left;
    background: transparent !important;
    gap: 10px;
    color: $white !important;
    font-size: 18px;
    font-weight: 600;
    height: 43px;
    &_active {
      grid-template-columns: auto auto 1fr;
    }
  }

  &__list {
    direction: ltr;
  }

  &__input-container {
    @apply p-0 flex flex-col relative overflow-hidden;
    color: $white !important;
    transition: height 0.5s ease;
  }

  &__label {
    font-size: 16px;
    letter-spacing: 0.64px;
    font-weight: 400;
    cursor: pointer;
    &:hover {
      transition: 0.2s;
      color: $gray;
    }
    &_active {
      @apply relative;
      @include gradient-text($base-font, 16px, 600);
      &:before {
        @apply absolute top-1/2 -translate-y-1/2;
        content: '';
        width: 4px;
        height: 14px;
        background: $gradient-skyblue-blue;
        border-radius: $border-radius-s;
        left: -8px;
      }
    }
  }
  &__count {
    @apply px-2.5 flex items-center;
    font-size: 15px;
    font-weight: 400;
    height: 30px;
    border-radius: $border-radius-s;
    &_yellow {
      @include color-block('yellow');
    }
    &_pink {
      @include color-block('pink');
    }
    &_blue {
      @include color-block('blue');
    }
    &_red {
      @include color-block('red');
    }
    &_sky {
      @include color-block('sky');
    }
    &_green {
      @include color-block('green');
    }
  }
  &__count-block {
    @apply flex justify-center justify-self-end;
    width: 50px;
  }
  &__close-button {
    @apply flex justify-center items-center;
    height: 15px;
    width: 13px;
    border-radius: 5px;
    border: 1px solid $gray-50;
    background: $gray-30;
  }
  &__close-icon {
    height: 5px;
    width: 5px;
  }
}
