@font-face {
  font-family: 'Meedori Sans';
  font-weight: 400;
  font-style: normal;
  src:
          local('Meedori Sans Regular'),
          url('/fonts/MeedoriSansRegular.ttf') format('truetype'),
          url('/fonts/MeedoriSansRegular.otf') format('otf'),
          url('/fonts/MeedoriSansRegular.woff2') format('woff2'),
          url('/fonts/MeedoriSansRegular.woff') format('woff');
}
@font-face {
  font-family: 'Meedori Sans';
  font-weight: 700;
  font-style: normal;
  src:
          local('Meedori Sans Bold'),
          url('/fonts/MeedoriSansBold.ttf') format('truetype'),
          url('/fonts/MeedoriSansBold.otf') format('otf'),
          url('/fonts/MeedoriSansBold.woff2') format('woff2'),
          url('/fonts/MeedoriSansBold.woff') format('woff');
}

@font-face {
  font-family: 'Play';
  font-weight: 400;
  font-style: normal;
  src:
          local('Play Bold'),
          url('/fonts/PlayRegular.ttf') format('truetype'),
          url('/fonts/PlayRegular.otf') format('otf'),
          url('/fonts/PlayRegular.woff2') format('woff2'),
          url('/fonts/PlayRegular.woff') format('woff');
}
@font-face {
  font-family: 'Play';
  font-weight: 700;
  font-style: normal;
  src:
          local('Play Bold'),
          url('/fonts/PlayBold.ttf') format('truetype'),
          url('/fonts/PlayBold.otf') format('otf'),
          url('/fonts/PlayBold.woff2') format('woff2'),
          url('/fonts/PlayBold.woff') format('woff');
}

@font-face {
  font-family: Poppins;
  font-weight: 300;
  font-style: normal;
  src:
          local('Poppins Light'),
          local('Poppins-Light'),
          url('/fonts/Poppins-Light.ttf') format('truetype'),
          url('/fonts/Poppins-Light.eot') format('eot'),
          url('/fonts/Poppins-Light.woff2') format('woff2'),
          url('/fonts/Poppins-Light.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: Poppins;
  font-weight: 400;
  font-style: normal;
  src:
          local('Poppins Regular'),
          local('Poppins-Regular'),
          url('/fonts/Poppins-Regular.ttf') format('truetype'),
          url('/fonts/Poppins-Regular.eot') format('eot'),
          url('/fonts/Poppins-Regular.woff2') format('woff2'),
          url('/fonts/Poppins-Regular.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: Poppins;
  font-weight: 500;
  font-style: normal;
  src:
          local('Poppins Medium'),
          local('Poppins-Medium'),
          url('/fonts/Poppins-Medium.ttf') format('truetype'),
          url('/fonts/Poppins-Medium.eot') format('eot'),
          url('/fonts/Poppins-Medium.woff2') format('woff2'),
          url('/fonts/Poppins-Medium.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: Poppins;
  font-weight: 600;
  font-style: normal;
  src:
          local('Poppins Semi Bold'),
          local('Poppins-SemiBold'),
          url('/fonts/Poppins-SemiBold.ttf') format('truetype'),
          url('/fonts/Poppins-SemiBold.eot') format('eot'),
          url('/fonts/Poppins-SemiBold.woff2') format('woff2'),
          url('/fonts/Poppins-SemiBold.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: Poppins;
  font-weight: 700;
  font-style: normal;
  src:
          local('Poppins Bold'),
          local('Poppins-Bold'),
          url('/fonts/Poppins-Bold.ttf') format('truetype'),
          url('/fonts/Poppins-Bold.eot') format('eot'),
          url('/fonts/Poppins-Bold.woff2') format('woff2'),
          url('/fonts/Poppins-Bold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: Montserrat;
  font-weight: 300;
  font-style: normal;
  src:
          local('Montserrat Light'),
          local('Montserrat-Light'),
          url('/fonts/Montserrat-Light.ttf') format('truetype'),
          url('/fonts/Montserrat-Light.eot') format('eot'),
          url('/fonts/Montserrat-Light.woff2') format('woff2'),
          url('/fonts/Montserrat-Light.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: Montserrat;
  font-weight: 400;
  font-style: normal;
  src:
          local('Montserrat Regular'),
          local('Montserrat-Regular'),
          url('/fonts/Montserrat-Regular.ttf') format('truetype'),
          url('/fonts/Montserrat-Regular.eot') format('eot'),
          url('/fonts/Montserrat-Regular.woff2') format('woff2'),
          url('/fonts/Montserrat-Regular.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: Montserrat;
  font-weight: 500;
  font-style: normal;
  src:
          local('Montserrat Medium'),
          local('Montserrat-Medium'),
          url('/fonts/Montserrat-Medium.ttf') format('truetype'),
          url('/fonts/Montserrat-Medium.eot') format('eot'),
          url('/fonts/Montserrat-Medium.woff2') format('woff2'),
          url('/fonts/Montserrat-Medium.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: Montserrat;
  font-weight: 600;
  font-style: normal;
  src:
          local('Montserrat Semi Bold'),
          local('Montserrat-SemiBold'),
          url('/fonts/Montserrat-SemiBold.ttf') format('truetype'),
          url('/fonts/Montserrat-SemiBold.eot') format('eot'),
          url('/fonts/Montserrat-SemiBold.woff2') format('woff2'),
          url('/fonts/Montserrat-SemiBold.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: Montserrat;
  font-weight: 700;
  font-style: normal;
  src:
          local('Montserrat Bold'),
          local('Montserrat-Bold'),
          url('/fonts/Montserrat-Bold.ttf') format('truetype'),
          url('/fonts/Montserrat-Bold.eot') format('eot'),
          url('/fonts/Montserrat-Bold.woff2') format('woff2'),
          url('/fonts/Montserrat-Bold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: Manrope;
  font-weight: 200;
  src:
          local('Manrope-ExtraLight'),
          local('Manrope ExtraLight'),
          url('/fonts/Manrope-ExtraLight.ttf') format('truetype'),
          url('/fonts/Manrope-ExtraLight.otf') format('otf'),
          url('/fonts/Manrope-ExtraLight.woff2') format('woff2'),
          url('/fonts/Manrope-ExtraLight.woff') format('woff');
}
@font-face {
  font-family: Manrope;
  font-weight: 300;
  src:
          local('Manrope-Light'),
          local('Manrope Light'),
          url('/fonts/Manrope-Light.ttf') format('truetype'),
          url('/fonts/Manrope-Light.otf') format('otf'),
          url('/fonts/Manrope-Light.woff2') format('woff2'),
          url('/fonts/Manrope-Light.woff') format('woff');
}
@font-face {
  font-family: Manrope;
  font-weight: 400;
  src:
          local('Manrope-Regular'),
          local('Manrope Regular'),
          url('/fonts/Manrope-Regular.ttf') format('truetype'),
          url('/fonts/Manrope-Regular.otf') format('otf'),
          url('/fonts/Manrope-Regular.woff2') format('woff2'),
          url('/fonts/Manrope-Regular.woff') format('woff');
}
@font-face {
  font-family: Manrope;
  font-weight: 500;
  src:
          local('Manrope-Medium'),
          local('Manrope Medium'),
          url('/fonts/Manrope-Medium.ttf') format('truetype'),
          url('/fonts/Manrope-Medium.otf') format('otf'),
          url('/fonts/Manrope-Medium.woff2') format('woff2'),
          url('/fonts/Manrope-Medium.woff') format('woff');
}
@font-face {
  font-family: Manrope;
  font-weight: 600;
  src:
          local('Manrope-SemiBold'),
          local('Manrope SemiBold'),
          url('/fonts/Manrope-SemiBold.ttf') format('truetype'),
          url('/fonts/Manrope-SemiBold.otf') format('otf'),
          url('/fonts/Manrope-SemiBold.woff2') format('woff2'),
          url('/fonts/Manrope-SemiBold.woff') format('woff');
}
@font-face {
  font-family: Manrope;
  font-weight: 700;
  src:
          local('Manrope-Bold'),
          local('Manrope Bold'),
          url('/fonts/Manrope-Bold.ttf') format('truetype'),
          url('/fonts/Manrope-Bold.otf') format('otf'),
          url('/fonts/Manrope-Bold.woff2') format('woff2'),
          url('/fonts/Manrope-Bold.woff') format('woff');
}
@font-face {
  font-family: Manrope;
  font-weight: 800;
  src:
          local('Manrope-ExtraBold'),
          local('Manrope ExtraBold'),
          url('/fonts/Manrope-ExtraBold.ttf') format('truetype'),
          url('/fonts/Manrope-ExtraBold.otf') format('otf'),
          url('/fonts/Manrope-ExtraBold.woff2') format('woff2'),
          url('/fonts/Manrope-ExtraBold.woff') format('woff');
}
