@import './variables.scss';

$media-desktop-query: 'max-width: #{$media-desktop}';
$media-desktop-min-query: 'min-width: #{$media-desktop}';
$media-xl-query: 'max-width: #{$media-xl}';
$media-lg-query: 'max-width: #{$media-lg}';
$media-md-query: 'max-width: #{$media-sm}';
$media-sm-query: 'max-width: #{$media-sm}';
