@mixin earth-video($size, $top, $left) {
  height: $size;
  width: $size;
  object-fit: cover;
  object-position: (-$top) (-$left);
}
@mixin earth-block($size) {
  border-radius: 50%;
  width: $size;
  height: $size;
  overflow: hidden;
}

@mixin gradient-text($font, $size, $weight, $line-height: normal) {
  background: $gradient-skyblue-blue;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: $font;
  font-size: $size;
  font-weight: $weight;
  line-height: $line-height;
}

@mixin h1-gradient-mark() {
  width: 6px;
  height: 15px;
  border-radius: 12px;
  background: $gradient-skyblue-blue no-repeat;
  background-size: 6px 15px;
}

@mixin gb-blur() {
  background:
    url('/assets/images/subscription/blurs/blur-1.png') top left no-repeat fixed,
    url('/assets/images/subscription/blurs/blur-2.png') top right no-repeat
      fixed,
    url('/assets/images/subscription/blurs/blur-3.png') bottom left no-repeat
      fixed,
    url('/assets/images/subscription/blurs/blur-4.png') bottom right no-repeat
      fixed,
    $black fixed;
}

@mixin color-block($type) {
  @if ($type == 'yellow') {
    border: 1px solid rgba(255, 179, 65, 0.51);
    background: rgba(242, 180, 20, 0.2);
  } @else if($type == 'pink') {
    border: 1px solid #9a3985;
    background: rgba(154, 57, 133, 0.2);
  } @else if($type == 'blue') {
    border: 1px solid #3454c4;
    background: rgba(52, 84, 196, 0.2);
  } @else if($type == 'red') {
    border: 1px solid #b74040;
    background: rgba(183, 64, 64, 0.2);
  } @else if($type == 'sky') {
    border: 1px solid #60b1b6;
    background: rgba(96, 177, 182, 0.2);
  } @else if($type == 'green') {
    border: 1px solid #468744;
    background: rgba(70, 135, 68, 0.2);
  }
}
