// colors & bg
$white: #ffffff;
$black: #000;
$black-text: #111827;
$white-transparent: #ffffff80;
$black-transparent: #ffffff0d;
$black-30: rgba(0, 0, 0, 0.3);
$border-block: #30363d;
$gray-05: rgba(255, 255, 255, 0.05);
$gray-30: rgba(255, 255, 255, 0.3);
$gray-50: rgba(255, 255, 255, 0.5);
$gray-60: rgba(255, 255, 255, 0.6);
$gray-70: rgba(255, 255, 255, 0.7);
$gray: rgba(255, 255, 255, 0.8);
$gray-100: #9c9c9c;
$star: #373737;
$radial-glow-start: #3771c82b;
$radial-glow-end: #3771c800;

$violet: #f6bafde6;
$blue: #316ad7e6;

$lite-green: #60d34c;

$bg-stars: url(assets/images/background.jpg);
$bg-inputs: #0b0d10;
$bg-inputs-light: #1a1a1a;
$bg-black-block: #0b0d10;
$bg-black-block-10: #0b0d101a;
$bg-black-block-75: #0b0d10bf;
$light-red: #e13347;
$dark-red: #da5e5e;

$gradient-violet-blue: linear-gradient(91deg, $violet -7.12%, $blue 114.37%);
$gradient-skyblue-blue: linear-gradient(
  97.86deg,
  #89c6ff -35.55%,
  #3633d0 71.88%
);
$gradient-skyblue-blue-20: linear-gradient(
  98deg,
  rgba(0, 133, 255, 0.2) -38.38%,
  rgba(33, 28, 242, 0.2) 71.88%
);

// border
$border-radius-s: calcWidth(10);
$border-radius-m: calcWidth(15);
$border-radius-l: calcWidth(20);
$border-radius-rounded: 50%;

// z-index
$z-index-0: -1; // background
$z-index-1: 1; // standard elements
$z-index-2: 2; // standard elements on standard elements
$z-index-3: 3; // header or sidebar
$z-index-4: 4; // modal
$z-index-5: 5; // extra elements

// fonts
$base-font: 'Montserrat', monospace;
$title-font: 'Play', sans-serif;
$logo-font: 'Meedori Sans', sans-serif;
$font-height-large: 150%;

// width
$header-height: 90px;
$bottom-page-space: 120px;
$full-height: calc(100vh - $header-height);
$main-height: calc(100vh - $header-height - $bottom-page-space);
$media-desktop: 1420px;

$media-xl: 1280px;
$media-lg: 1024px;
$media-md: 768px;
$media-sm: 640px;

$ui-step: 5px;

@function calcHeight($size, $step: 1) {
  @return calc(100vh / (1080px / $size * $step));
}

// @function calcWidth($size) {
//   @return calc(100vw / (1920px / $size));
// }
@function calcWidth($size) {
  $vwSize: $size * 100 / 1920;
  @return #{$vwSize}vw;
}

@function calculateVw768($size) {
  $vwSize: calc($size * 100 / 768);
  @return #{$vwSize}vw;
}

@function calculateVw425($size) {
  $vwSize: calc($size * 100 / 425);
  @return #{$vwSize}vw;
}

@function uiStep($multiplier) {
  @return calc($ui-step * #{$multiplier});
}

$space-x-small: #{uiStep(1)}; // 5px
$space-smaller: #{uiStep(2)}; // 10px
$space-small: #{uiStep(3)}; // 15px
$space-small-plus: #{uiStep(4)}; // 20px
$space-medium: #{uiStep(5)}; // 25px
$space-medium-plus: #{uiStep(6)}; // 30px
$space-large: #{uiStep(7)}; // 35px
$space-large-plus: #{uiStep(8)}; // 40px
$space-x-large: #{uiStep(9)}; // 45px
$space-x-large-plus: #{uiStep(10)}; // 50px
$space-xx-large: #{uiStep(11)}; // 55px
$space-xx-large-plus: #{uiStep(12)}; // 60px
$space-big: #{uiStep(13)}; // 65px
$space-big-plus: #{uiStep(14)}; // 70px
$space-x-big: #{uiStep(15)}; // 75px
$space-x-big-plus: #{uiStep(16)}; // 80px
