@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  color: $white;
}
html {
  font-size: 100%; // 16px
  @media screen and (max-width: 1560px) {
    font-size: 80%;
  }
  @media screen and (max-width: 1250px) {
    font-size: 60%;
  }
  @media screen and ($media-md-query) {
    font-size: 100%;
  }
}
body {
  &::-webkit-scrollbar {
    width: 0.625rem;
  }
  &::-webkit-scrollbar-track {
    background: $border-block;
  }
  &::-webkit-scrollbar-thumb {
    background: $white;
    border-radius: 5px;
  }
}
a {
  text-decoration: none;
}
.container {
  max-width: 85rem; // 1360px
  @media screen and ($media-md-query) {
    // max-width: pxToRem(330);
    max-width: unset;
    padding: 0 pxToRem(30);
  }
}

#telegram-login-contractis_ro_bot {
  opacity: 0.01;
  border-radius: 10px;
  @apply w-fit h-full absolute right-0;
  z-index: $z-index-1;
  cursor: pointer;
}
.tgme_widget_login_button {
  @apply w-full h-full absolute;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}
@media screen and ($media-desktop-query) {
  .container {
    @apply px-2.5;
  }
}
