@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  color: $white;
}
body {
  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-track {
    background: $border-block;
  }
  &::-webkit-scrollbar-thumb {
    background: $white;
    border-radius: 5px;
  }
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
// .container {
//   max-width: $media-desktop;
// }
.container {
  max-width: calcWidth(1360);
}

@media screen and (max-width: 1360px) {
  .container {
    max-width: calcWidth(1560);
  }
}
@media screen and (max-width: 768px) {
  .container {
    max-width: calculateVw768(708);
  }
}
#telegram-login-contractis_ro_bot {
  opacity: 0.01;
  border-radius: 10px;
  @apply w-fit h-full absolute right-0;
  z-index: $z-index-1;
  cursor: pointer;
}
.tgme_widget_login_button {
  @apply w-full h-full absolute;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}
@media screen and ($media-desktop-query) {
  .container {
    @apply px-2.5;
  }
}
