@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
a {
  text-decoration: none;
}
.container {
  max-width: $media-desktop;
}
@media screen and ($media-desktop-query) {
  .container {
    @apply px-2.5;
  }
}