.home-slide-start {
  @apply w-full flex justify-center items-center;
  height: $full-height;
  color: rgba($color: #fff, $alpha: 0.9);
  &__inner {
    @apply flex justify-between items-center;
  }
  &__info {
    @apply flex flex-col;
    gap: pxToRem(60);
    max-width: pxToRem(862);

    &-name {
      font-family: $base-font;
      font-size: pxToRem(50);
      font-style: normal;
      font-weight: 500;
      line-height: 100%; /* 80px */
      max-width: pxToRem(670);
      letter-spacing: pxToRem(2.5);
      &_gradient {
        @include gradient-text($logo-font, pxToRem(42), 700, 75%);
        letter-spacing: -2.75px;
      }
    }
    &-description {
      max-width: pxToRem(597);
      font-family: $base-font;
      font-size: pxToRem(17);
      font-style: normal;
      font-weight: 400;
      line-height: 140%;
      color: rgba($color: #fff, $alpha: 0.6);
    }

    &-buttons {
      @apply flex;
      gap: pxToRem(35);
    }

    &-advantages {
      @apply flex;
      gap: pxToRem(60);
      &-item {
        @apply flex flex-col;
        line-height: pxToRem(13);
        font-family: $base-font;
        font-size: pxToRem(15);
        font-weight: 500;
        gap: pxToRem(15);
        color: rgba($color: #fff, $alpha: 0.9);
      }
      &-count {
        font-family: $title-font;
        font-size: pxToRem(30);
        font-weight: 700;
        line-height: pxToRem(23);
      }
    }
  }
  &__earth-block {
    @include earth-block(pxToRem(500));
  }
  &__earth {
    @include earth-video(pxToRem(662), pxToRem(106), pxToRem(100));
  }
}
