.home-slide-start {
  @apply w-full flex justify-center items-center;
  height: $full-height;
  color: $white;
  &__inner {
    @apply flex justify-between items-center;
  }
  &__info {
    @apply flex flex-col;
    gap: pxToRem(60);
    max-width: pxToRem(862);

    &-name {
      font-family: $title-font;
      font-size: pxToRem(70);
      font-style: normal;
      font-weight: 700;
      line-height: 80%; /* 80px */
      &_gradient {
        @include gradient-text($logo-font, pxToRem(55), 700);
        // letter-spacing: -2.75px;
      }
    }
    &-description {
      max-width: pxToRem(742);
      font-family: $base-font;
      font-size: pxToRem(18);
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
    }

    &-buttons {
      @apply flex;
      gap: pxToRem(40);
    }

    &-advantages {
      @apply flex;
      gap: pxToRem(35);
      &-item {
        @apply flex flex-col;
        line-height: pxToRem(13);
        font-family: $base-font;
        font-size: pxToRem(15);
        font-weight: 500;
        gap: pxToRem(15);
      }
      &-count {
        font-family: $title-font;
        font-size: pxToRem(34);
        font-weight: 700;
        line-height: pxToRem(23);
      }
    }
  }
  &__earth-block {
    @include earth-block(pxToRem(500));
  }
  &__earth {
    @include earth-video(pxToRem(662), pxToRem(106), pxToRem(100));
  }
}
